[flake8]
max-line-length = 125
max-complexity = 10
exclude =
    build/
    .git
    __pycache__
    .tox
    .mypy_cache
    .pytest_cache
    htmlcov
    dist
    doc
    test/data
    venv
per-file-ignores = __init__.py:F401
